.u-palette-2-base,
.u-body.u-palette-2-base,
section.u-palette-2-base:before,
.u-palette-2-base>.u-container-layout:before,
.u-palette-2-base>.u-inner-container-layout:before,
.u-palette-2-base.u-sidenav:before,
.u-container-layout.u-container-layout.u-palette-2-base:before,
.u-table-alt-palette-2-base tr:nth-child(even) {
    color: #ffffff;
    background-color: #1544c0;
}

.u-white,
.u-body.u-white,
section.u-white:before,
.u-white>.u-container-layout:before,
.u-white>.u-inner-container-layout:before,
.u-white.u-sidenav:before,
.u-container-layout.u-container-layout.u-white:before,
.u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
}




